<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Dezzi's Depot - Does this title ever show?{% endblock %}</title>
    </head>
    <body>
        <nav>
            <a href="/admin" target="_blank">Django Admin</a><br>
            <a href="https://github.com/brucestull/MDN-Django" target="_blank">Project repostory</a>
            <a href="https://github.com/brucestull/MDN-Django/projects/2" target="_blank">Project Board</a><br>
            <a href="{% url 'catalog:the-word' %}">The Word</a>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>